.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    font-size: 5em;
    color: black;
    background-color: #f3f3f3;
  }

  .artist {
    padding: 10px 10px;
    display: flex;
    border: 1px solid black;
    align-items: center;
   flex-direction: row;
   gap: 100px;
  }
  
  .artist_img {
    width: 220px;
    height: 220px;
    border-radius: 100%;
  }

  .artist_text {
    display: flex;
    flex-direction: column;
  }

  .artist_name {
    font-size: 46px;
    font-weight: 700;
  }

  .artist_description{
    font-size: 36px;
    font-weight: 500;
  }